<h1 class="page-header">Forms</h1>

<nav>
    <ul class="nav nav-tabs">
        <li><a href="#/forms">Forms</a></li>
        <li class="active"><a href="#/fields">Fields</a></li>
    </ul>
</nav>

<div class="tab-content">
    <h1></h1>
    <div id="field" class="tab-pane fade in active">
        <form role="form">
            <br>

            <div class="form-group">
                <label for="inputFirstName3">First Name: </label>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control"
                               id="inputFirstName3" placeholder="First Name">
                    </div>
                    <div class="col-sm-offset-1 col-sm-5">
                    <a href="#/fields" class="btn btn-warning">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                    <a href="#/fields" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </a>
                    <a href="#/fields" class="btn btn-danger">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                    <a href="#/fields" class="btn btn-info">
                        <scan class="glyphicon glyphicon-align-justify"></scan>
                    </a>
                    </div>
                </div>
            </div>

            <br>

            <div class="form-group">
                <label for="inputLastName3">Last Name: </label>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control"
                               id="inputLastName3" placeholder="Last Name">
                    </div>
                    <div class="col-sm-offset-1 col-sm-5">
                        <a href="#/fields" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                        <a href="#/fields" class="btn btn-primary">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                        <a href="#/fields" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a href="#/fields" class="btn btn-info">
                            <scan class="glyphicon glyphicon-align-justify"></scan>
                        </a>
                    </div>
                </div>
            </div>

            <br>

            <div class="form-group">
                <label for="input-date">Date of Birth:</label>
                <div class="row">
                    <div class="col-sm-6">
                        <input id="input-date" class="form-control"
                               type="date" value="Select Date">
                    </div>
                    <div class="col-sm-offset-1 col-sm-5">
                        <a href="#/fields" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                        <a href="#/fields" class="btn btn-primary">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                        <a href="#/fields" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a href="#/fields" class="btn btn-info">
                            <scan class="glyphicon glyphicon-align-justify"></scan>
                        </a>
                    </div>
                </div>
            </div>

            <br>

            <div class="form-group">
                <label for="inputGender">Gender:</label>
                <div class="row">
                    <div class="col-sm-6">
                        <select name="gender" id="inputGender">
                            <option value="male" selected>Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="col-sm-offset-1 col-sm-5">
                        <a href="#/fields" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                        <a href="#/fields" class="btn btn-primary">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                        <a href="#/fields" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a href="#/fields" class="btn btn-info">
                            <scan class="glyphicon glyphicon-align-justify"></scan>
                        </a>
                    </div>
                </div>
            </div>

            <br>

            <div class="form-group">
            <label>Roles:</label>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="checkbox">
                        <label><input type="checkbox" value checked>Admin</label>
                            </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Student</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value checked>User</label>
                        </div>
                    </div>
                    <div class="col-sm-offset-1 col-sm-5">
                        <a href="#/fields" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                        <a href="#/fields" class="btn btn-primary">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                        <a href="#/fields" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a href="#/fields" class="btn btn-info">
                            <scan class="glyphicon glyphicon-align-justify"></scan>
                        </a>
                    </div>
                </div>
            </div>

            <br>

            <div class="form-group">
                <label>License Agreement:</label>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="radio">
                            <label><input type="radio" name="optradio" value checked>Yes</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio">No</label>
                        </div>
                    </div>
                    <div class="col-sm-offset-1 col-sm-5">
                        <a href="#/fields" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                        <a href="#/fields" class="btn btn-primary">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                        <a href="#/fields" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a href="#/fields" class="btn btn-info">
                            <scan class="glyphicon glyphicon-align-justify"></scan>
                        </a>
                    </div>
                </div>
            </div>

            <hr class="separator">

            <div class="form-group">
                <label for="inputField">Add New Field:</label>
                <div class="row">
                    <div class="col-sm-6">
                        <select name="newField" id="inputField">
                            <option value="Single Line Text" selected>Single Line Text</option>
                            <option value="Date">Date</option>
                            <option value="Dropdown">Dropdown</option>
                            <option value="Checkboxes">Checkboxes</option>
                            <option value="Radio Buttons">Radio Buttons</option>
                            <option value="Paragraph Text Field">Paragraph Text Field</option>
                        </select>
                    </div>
                    <div class="col-sm-offset-1 col-sm-5">
                        <a href="#/fields" class="btn btn-warning invisible">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                        <a href="#/fields" class="btn btn-primary">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                    </div>
                </div>
            </div>

            <br>

        </form>
    </div>
</div>


