<!DOCTYPE html>
<html lang="en">
<head>

    <title>Assignments / Forms - Designing the Front End</title>

</head>

<body>

            <h1 class="page-header">Forms</h1>
            <nav>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#/forms">Forms</a></li>
                    <li><a href="#/fields">Fields</a></li>
                </ul>
            </nav>
            <div class="tab-content">
                <div id="form" class="tab-pane fade in active">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr bgcolor="#708090">
                                <th><span class="glyphicon glyphicon-sort-by-alphabet"></span>Form Name</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <td><input class="form-control" type="text" name="userName" placeholder="Username"/></td>
                                <td style="white-space: nowrap">
                                    <a href="forms.view.html" class="btn btn-success">
                                        <scan class="glyphicon glyphicon-ok"></scan>
                                    </a>
                                    <a href="forms.view.html" class="btn btn-primary">
                                        <scan class="glyphicon glyphicon-plus"></scan>
                                    </a>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Registration Form</td>
                                <td>
                                    <a href="forms.view.html" class="btn btn-warning">
                                        <scan class="glyphicon glyphicon-pencil"></scan>
                                    </a>
                                    <a href="forms.view.html" class="btn btn-danger">
                                        <scan class="glyphicon glyphicon-remove"></scan>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Contact List</td>
                                <td>
                                    <a href="forms.view.html" class="btn btn-warning">
                                        <scan class="glyphicon glyphicon-pencil"></scan>
                                    </a>
                                    <a href="forms.view.html" class="btn btn-danger">
                                        <scan class="glyphicon glyphicon-remove"></scan>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>To Do List</td>
                                <td>
                                    <a href="forms.view.html" class="btn btn-warning">
                                        <scan class="glyphicon glyphicon-pencil"></scan>
                                    </a>
                                    <a href="forms.view.html" class="btn btn-danger">
                                        <scan class="glyphicon glyphicon-remove"></scan>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
</body>
</html>

