<div class="container-fluid" ng-controller="ProfileReadOnlyController">
    <h1 class="page-header">{{model.user.firstName}}&nbsp;{{model.user.lastName}}&nbsp;</h1>
    <div ng-show="currentUser">
        <button ng-hide="currentUser.following || currentUser.following.username === model.user.username" type="button" class="btn btn-primary" ng-click="model.followUser()">Follow</button>
        <p ng-show="currentUser.following.username.indexOf(model.user.username) >=0 ">You are following {{model.user.firstName}}!</p>
    </div>
    <div ng-show="model.followMessage" class="alert alert-success" role="alert">{{model.followMessage}}</div>

    <br/>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label label-left">Username</label>
            <div id="profileDetails" class="col-sm-7">
                {{model.user.username}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label label-left">First Name</label>
            <div id="profileDetails" class="col-sm-7">
                {{model.user.firstName}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label label-left">Last Name</label>
            <div id="profileDetails" class="col-sm-7">
                {{model.user.lastName}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div id="profileDetails" class="col-sm-7">
                {{model.user.emails}}
            </div>
        </div>
        <div class="form-group" ng-show="model.user.favoriteMusic">
            <label class="col-sm-2 control-label">Favorite Music</label>
            <ul ng-repeat="music in model.user.favoriteMusic">
                <li><a href="#/artist/details/{{music.mbId}}">{{music.musicTitle}}</a></li>
            </ul>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">No of followers</label>

        </div>
    </div>
</div>