<h1>Search</h1>
<h2>Tracks</h2>
<input ng-model="artistTitle" class="form-control ng-pristine ng-untouched ng-valid ng-scope" placeholer="Search artist"/>
<!--<button ng-click="searchMovie(movieTitle)" class="btn btn-primary btn-block">-->
<!--Search-->
<!--</button>-->
<br/>
<a href="#/track/{{artistTitle}}" class="btn btn-default btn-sm">
    Search
</a>
<br/>
<br/>

<div class="container ng-scope">
    <h2>Tracks</h2>
    <div ng-controller="DetailsController" class="table-responsive detail">
        <table class="table table-striped ng-scope">
            <thead>
            <tr>
                <!--<th>Poster</th>-->
                <th>Poster</th>
                <th>Track Title</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tracks in model.details" class="ng-scope">
                <td>
                    <a href="#/artist/details/{{tracks.artist.mbid}}">
                        <img class="media-object" ng-src="{{tracks.image.medium}}" alt="No Image!">
                    </a>
                </td>
                <td ng-controller="TrackController">
                    <a href="{{tracks.url}}">{{tracks.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

