<div class="container-fluid" ng-controller="ArtistController">
    <h1 class="page-header">Search</h1>
    <h2>Artists</h2>
    <input ng-model="artistTitle" class="form-control ng-pristine ng-untouched ng-valid ng-scope" placeholer="Search artist"/>
    <!--<button ng-click="searchMovie(movieTitle)" class="btn btn-primary btn-block">-->
    <!--Search-->
    <!--</button>-->
    <br/>
    <a href="#/artist/{{artistTitle}}" class="btn btn-default btn-sm">
        Search
    </a>
    <br/>
    <br/>
<!--
    <div ng-if="!data.length" class="ng-scope thumbnail">
        <h5>No data!</h5>
    </div>-->
    <div ng-if="model.data.length" class="table-responsive">
        <table class="table table-striped table-hover ng-scope">
            <thead>
            <tr>
                <th>Poster</th>
                <th>Title</th>
            </tr>
            </thead>
            <tbody>
            <!-- <tr ng-repeat="artists in data.results.artistmatches.artist" class="ng-scope">-->
            <tr ng-repeat="artist in model.data" class="ng-scope">
                <td>
                    <img class="media-object" ng-src="{{artist.image.medium}}" alt="No Image!">
                </td>
                <td>
                    <a href="#/track/{{artist.mbid}}">{{artist.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>