<!-- This file displays the Header of the dashboard -->

<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController as model">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Form Maker</a>
        </div>

        <!-- Displays Register and Login when no user if logged in.
            Displays the Username and Logout when some user is logged in.-->

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="currentUser"  ng-class="{'active':model.$location.url()== '/register'}">
                    <a href="#/register">Register</a>
                </li>
                <li ng-hide="currentUser"  ng-class="{'active':model.$location.url()== '/login'}">
                    <a href="#/login">Login</a>
                </li>
                <li ng-show="currentUser" ng-class="{'active':model.$location.url()== '/profile/{{user.username}}'}">
                    <a href="#/profile/{{currentUser.username}}">{{currentUser.username}}</a>
                </li>
                <li ng-show="currentUser">
                    <a href="#/home" ng-click="model.logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>