<!-- This file displays the Login page -->

<div ng-controller="LoginController">
    <h1 class="page-header">Login</h1>

    <!-- Displays an error message -->
    <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>

    <form class="form-horizontal">

        <!-- Username Input -->
        <div class="form-group">
            <label for="inputUsername3" class="col-sm-2 control-label">Username: </label>
            <div class="col-sm-10">
                <input type="text" ng-model="user.username"
                       class="form-control" id="inputUsername3"
                       placeholder="Username">
            </div>
        </div>

        <!-- Password Input -->
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password: </label>
            <div class="col-sm-10">
                <input type="password" ng-model="user.password"
                       class="form-control" id="inputPassword3"
                       placeholder="Password">
            </div>
        </div>

        <!-- Button for the login of the user to happen -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <button ng-click="login(user)" class="btn btn-default btn-sm">Login</button>
            </div>
        </div>
    </form>
</div>


