<!-- This file displays the Forms page -->

<div>
    <h1 class="page-header">Forms</h1>
    <nav>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#/forms">Forms</a></li>
            <li><a href="">Fields</a></li>
        </ul>
    </nav>

    <!-- Displays an error message -->
    <div ng-show="model.message" class="alert alert-danger" role="alert">{{model.message}}</div>

    <div class="tab-content">
        <div id="form" class="tab-pane fade in active">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr bgcolor="#708090">
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span> Form Name</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
                    </tr>

                    <tr>
                        <td>
                            <!-- Form Name input -->
                            <input ng-model="model.formName"
                                   class="form-control"
                                   type="text"
                                   name="userName"
                                   placeholder="Form Name"/>
                        </td>
                        <td class="table-content-nowrap">
                            <!-- Button to update an existing form -->
                            <button ng-click="model.updateForm(model, $index)" class="btn btn-success">
                                <scan class="glyphicon glyphicon-ok"></scan>
                            </button>

                            <!-- Button to add a new form -->
                            <button ng-click="model.addForm(model)" class="btn btn-primary">
                                <scan class="glyphicon glyphicon-plus"></scan>
                            </button>
                        </td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="form in model.forms">
                        <td><a href="#/form/{{form._id}}/fields">{{form.title}}</a></td>
                        <td class="table-content-nowrap">
                            <!-- Button to select a form to update -->
                            <a ng-click="model.selectForm($index)" class="btn btn-warning">
                                <scan class="glyphicon glyphicon-pencil"></scan>
                            </a>

                            <!-- Button to delete an existing form -->
                            <a ng-click="model.deleteForm($index)" class="btn btn-danger">
                                <scan class="glyphicon glyphicon-remove"></scan>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


