<div class="container-fuild" ng-controller="TagController">
    <div  class="detail">
        <div class="container-fluid">
            <h1 class="page-header"> {{model.tagName}}</h1>
        </div>

        <br/>

        <div ng-show="model.search">
            <nav>
                <ul class="nav nav-tabs">
                    <li ng-show="model.artists"><a href="#/tag/{{model.tagName}}">Artists</a></li>
                    <li ng-show="model.albums" class="active"><a href="#/tag/album/{{model.tagName}}">Albums</a></li>
                    <li ng-show="model.tracks"><a href="#/tag/track/{{model.tagName}}">Tracks</a></li>
                </ul>
            </nav>
        </div>

        <div ng-show="model.albums" id="similar" class="container-fluid">
            <h4 class="page-header">Related Albums</h4>
            <div ng-repeat="album in model.albums">
                <div class="col-sm-6 col-md-3 col-ms-6 text-center hover-me">
                    <div class="row container-fluid">
                        <img class="media-object pull-left img-rounded img-thumbnail img-responsive" src="{{album.image.medium}}" alt = "No Image Found!">
                        <div class="container-fluid">
                            <a href="#/search/album/{{album.name}}"> {{album.name}} </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
