<h2>Tracks</h2>
<div ng-controller="DetailsController" class="table-responsive detail">
    <table class="table table-striped ng-scope">
        <thead>
        <tr>
            <!--<th>Poster</th>-->
            <th>Poster</th>
            <th>Track Title</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="tracks in model.details" class="ng-scope">
            <td>
                <a href="#/artist/details/{{tracks.artist.mbid}}">
                    <img class="media-object" ng-src="{{tracks.image.medium}}" alt="No Image!">
                </a>
            </td>
            <td ng-controller="TrackController">
                <a href="{{tracks.url}}">{{tracks.name}}</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>