<!DOCTYPE html>
<html lang="en">
<head>

    <title>Assignments / Register - Designing the Front End</title>

</head>

<body ng-controller="RegisterController">
            <h1 class="page-header">Register</h1>
            <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputUsername3" class="col-sm-2 control-label">Username: </label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="user.username" class="form-control" id="inputUsername3" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password: </label>
                    <div class="col-sm-10">
                        <input type="password" ng-model="user.password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Verify Password: </label>
                    <div class="col-sm-10">
                        <input type="password" ng-model="user.password2" class="form-control" id="inputPassword3" placeholder="Verify Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email: </label>
                    <div class="col-sm-10">
                        <input type="email" ng-model="user.email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                        <!-- <a href="#/profile" class="btn btn-primary btn-sm" role="button">Register</a> -->
                        <button ng-click="register(user)" class="btn btn-primary btn-sm">Register</button>
                    </div>
                </div>
            </form>
</body>
</html>

