<!-- This file displays the Register page -->

<div>
    <h1 class="page-header">Register</h1>

    <!-- Displays an error message -->
    <div ng-show="model.message" class="alert alert-danger" role="alert">{{model.message}}</div>

    <form class="form-horizontal">
        <!-- Username input -->
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username: </label>
            <div class="col-sm-10">
                <input type="text" ng-model="model.username"
                       class="form-control" id="username"
                       placeholder="janedoe">
            </div>
        </div>

        <!-- Password input -->
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password: </label>
            <div class="col-sm-10">
                <input type="password" ng-model="model.password"
                       class="form-control" id="password"
                       placeholder="p@ssw0rd">
            </div>
        </div>

        <!-- Verify Password input -->
        <div class="form-group">
            <label for="password2" class="col-sm-2 control-label">Verify Password: </label>
            <div class="col-sm-10">
                <input type="password" ng-model="model.password2"
                       class="form-control" id="password2"
                       placeholder="p@ssw0rd">
            </div>
        </div>

        <!-- Email input -->
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email: </label>
            <div class="col-sm-10">
                <input type="email" ng-model="model.emails"
                       class="form-control" id="email"
                       placeholder="j_doe@abc.com">
            </div>
        </div>

        <!-- Button for the registration of the user to happen -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <button type="submit" ng-click="model.register(model)" class="btn btn-primary btn-sm">Register</button>
            </div>
        </div>
    </form>
</div>


