<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 page-header text-center ng-scope">
    <h1>Welcome to Prismatic Music!</h1>
</div>

<div ng-controller="HomeController">

    <nav>
        <ul class="nav nav-tabs">
            <li ng-show="model.topTracks" class="active"><a href="#/home">Top Tracks</a></li>
            <li ng-show="model.topArtists"><a href="#/home/artist">Top Artists</a></li>
        </ul>
    </nav>

    <div ng-show="model.topTracks">
        <h3>Trending Tracks</h3>
        <div class="row">
            <div ng-repeat="track in model.topTracks">
                <div class="col-sm-6 col-md-3 col-ms-6 text-center hover-me">

                    <div class = "thumbnail">
                        <div class="row">
                            <a href="#/artist/details/{{track.artist.mbid}}">
                                <img class="media-object img-rounded img-responsive" src="{{track.image.large}}" alt = "No Image Found!"> </a>
                            <div class = "caption">
                                <a href="#/player/{{track.name}}/{{track.artist.name}}">
                                    <span class="glyphicon glyphicon-play-circle"> </span> {{track.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>