<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 page-header text-center ng-scope">
    <h1>Welcome to Prismatic Music!</h1>
</div>

<div ng-controller="HomeController">

    <div ng-show="model.topTracks.length">
        <h3>Trending Tracks</h3>
        <div class="row">
            <div ng-repeat="track in model.topTracks">
                <div class="col-sm-6 col-md-3 col-ms-6 text-center hover-me">

                    <div class = "thumbnail">
                        <div class="row">
                            <a href="#/details/{{track.artist.mbid}}">
                                <img class="media-object img-responsive" src="{{track.image.large}}" alt = "No Image Found!"> </a>
                            <div class = "caption">
                                <a href="{{track.url}}">{{track.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="model.topArtists.length">
        <h3>Trending Artists</h3>
        <div class="row">
            <div ng-repeat="artist in model.topArtists">
                <div class="col-sm-6 col-md-3 col-ms-6 text-center hover-me">
                    <div class = "thumbnail">
                        <div class="row">
                            <a href="#/details/{{artist.mbid}}">
                                <img class="media-object img-responsive" src="{{artist.image.large}}" alt = "No Image Found!"> </a>
                            <div class = "caption">
                                <a href="#/track/{{artist.mbid}}">{{artist.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>