
<h2>{{model.details.artist.name}}</h2>
<div class="detail">
<!--<img ng-src="{{model.details.image.1}}" height="100px" class="pull-left"/>-->
    <div>
        <p>
            {{model.details.artist.bio.summary}}
        </p>
    </div>
    <p>
<a href="{{model.details.artist.url}}">Last.fm link</a></p>
<ul>
    <li ng-repeat="similarArtist in model.details.similar.artist">
        {{similarArtist}}
    </li>
</ul>
</div>
<!--
<div class="detail">
    <a href="#/" title="Back">Back</a>
    <h1>{{artist.name}}</h1>
    <a href="{{artist.url}}">Last.fm</a>

    <img src="{{artist.image.medium}}" alt="">
</div>
-->