
<h2>{{model.details.artist.name}}</h2>
<div ng-controller="DetailsController" class="detail">
<!--<img ng-src="{{model.details.image.1}}" height="100px" class="pull-left"/>-->
    <div>
<!--        <p>Coldplay is a British alternative rock band, formed in London, United Kingdom in 1997. The band comprises vocalist and pianist Chris Martin, lead guitarist Jonny Buckland – who met each other in September 1996 at Ramsay Hall (halls of residence) at University College London - bassist Guy Berryman and drummer Will Champion. Not only have Coldplay had 7 highly successful studio album releases (all of which debuted at #1 on the UK album chart) - with their latest 7th studio album released on December 4 <a href="http://www.last.fm/music/Coldplay">Read more on Last.fm</a>
        </p>-->
            {{model.details.artist.bio.summary}}
    </div>
    <p>
<a href="{{model.details.artist.url}}">Last.fm link</a></p>
    <h3>Similar artists</h3>
<ul>
    <li ng-repeat="similarArtist in model.details.artist.similar.artist">
        <a href="{{similarArtist.url}}"> {{similarArtist.name}} </a>
    </li>
</ul>
</div>


<!--
<div class="detail">
    <a href="#/" title="Back">Back</a>
    <h1>{{artist.name}}</h1>
    <a href="{{artist.url}}">Last.fm</a>

    <img src="{{artist.image.medium}}" alt="">
</div>
-->