<div class="container-fuild" ng-controller="ArtistDetailsController">
    <div  class="detail">
        <div class="container-fluid">
            <h1 class="page-header"> {{model.details.name}}

                <button class="btn btn-default" ng-click="model.userFavoritesMusic(model.details)">
                <span ng-show="model.details.likes.indexOf(currentUser._id) > -1"
                      class="glyphicon glyphicon-heart"></span>
                <span ng-show="!model.details || !model.details.likes || model.details.likes.indexOf(currentUser._id) == -1"
                      class="glyphicon glyphicon-heart-empty"></span>
                </button>
            </h1>
        </div>
        <div id="tag" class="container-fluid">
            <div class="row">
                <label id="tagLabel">Tags</label>
                <ul id="tags" ng-repeat="artistTags in model.tags">
                    <li>
                        <div id="taglist" class="row">
                            <a href="#/tag/{{artistTags.name}}">{{artistTags.name}}</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <br/>

        <div class="container-fluid">
            <div id="about">
                <img class="media-object pull-left img-rounded img-thumbnail img-responsive" src="{{model.details.image.large}}" alt = "No Image Found!">
                <!--<div ng-show="artistImage.size.indexOf('mega')>=0">
                <img class="media-object pull-left img-responsive" src="{{artistImage.#text}}" alt = "No Image Found!">
                </div>-->
            </div>
            <div class="col-sm-offset-1">
                <p>
                    {{model.details.bio.summary}}
                </p>
            </div>

            <label class="page-header">Listeners:
                <p>{{model.stats.listeners}}</p>
            </label>
            <label class="col-sm-6 page-header">Play Count:
                <p>{{model.stats.playcount}}</p>
            </label>
        </div>

        <div class="container-fluid">
            <!--<div ng-include="'views/track/track.view.html'"></div>-->
            <h2>Tracks</h2>
            <ul ng-repeat="track in model.tracks" class="ng-scope">
                <li>
                    <a href="#/player/{{track.name}}/{{track.artist.name}}">{{track.name}}</a>
                </li>
            </ul>
        </div>

        <div id="similar" class="container-fluid">
            <h4 class="page-header">Similar artists</h4>
            <div ng-repeat="similarArtist in model.similar">
                <div class="col-sm-6 col-md-3 col-ms-6 text-center hover-me">
                    <div class="row container-fluid">
                        <img class="media-object pull-left img-rounded img-thumbnail img-responsive" src="{{similarArtist.image.medium}}" alt = "No Image Found!">
                        <div class="container-fluid">
                            <a href="#/artist/{{similarArtist.name}}"> {{similarArtist.name}} </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="fav" class="container-fluid">
            <h4 class="page-header">Users who have favorited this:</h4>
            <p ng-hide="currentUser">Login to see users who have favorited this</p>
            <ul ng-repeat = "user in model.favoritedUsers track by $index" ng-show="currentUser">
                <li>{{user}}</li>
            </ul>
        </div>

        <div id="review" class="container-fluid">
            <h4 id="reviews" class="page-header">Reviews</h4>
            <p ng-hide="currentUser">Sign in to post reviews</p>
            <div class="row" ng-show="currentUser">

                <div class="col-md-6">
                    <div class="widget-area no-padding blank">
                        <div class="status-upload">
                            <form>
                                <textarea placeholder="What are your thoughts about this music?" ng-model="model.commentBox"></textarea>
                                <ul>
                                    <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                                </ul>
                                <button type="submit" class="btn btn-success green" ng-click="model.postComment()"><i class="fa fa-share"></i> Share</button>
                            </form>
                        </div><!-- Status Upload  -->
                    </div><!-- Widget Area -->
                </div>

            </div>

            <!-- Displaying comments -->
            <div ng-repeat="comment in model.comments">
                <div class="row">
                    <div class="col-sm-1">
                        <div class="thumbnail">
                            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                        </div><!-- /thumbnail -->
                    </div><!-- /col-sm-1 -->
                    <div class="col-sm-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#/profile"><strong>{{comment.username}}</strong></a> <span class="text-muted">{{comment.timestamp}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span class="glyphicon glyphicon-remove" ng-click="model.deleteComment($index)"></span>
                            </div>
                            <div class="panel-body">
                                {{comment.comment}}
                            </div><!-- /panel-body -->
                        </div><!-- /panel panel-default -->
                    </div><!-- /col-sm-5 -->
                </div>
            </div>
        </div>
        <!--<div ng-if="model.music.userLikes">
            <h4>Other Users that Like This</h4>
            <ul>
                <li ng-repeat="user in model.music.userLikes">
                    <a href="#/profile/{{user.username}}">
                        {{user.username}}
        </a>
        </li>
        </ul>
    </div>-->


        <footer>
            <a href="{{model.details.url}}">Read more on Last.fm</a>
        </footer>
    </div>
</div>
</div>
