<div class="container-fluid" ng-controller="SearchController">
    <h1 class="page-header">Search</h1>
    <input ng-model="searchTitle" class="form-control ng-pristine ng-untouched ng-valid ng-scope"
           placeholer="Looking for music? Search here!"/>
    <!--<button ng-click="searchMovie(movieTitle)" class="btn btn-primary btn-block">-->
    <!--Search-->
    <!--</button>-->
    <br/>
    <a href="#/search/{{searchTitle}}" class="btn btn-default btn-sm">
        Search
    </a>
    <br/>
    <br/>

    <!--  Artists -->
    <div ng-show="model.artist">
        <h2>Artists</h2>
        <table class="table table-responsive table-striped table-hover ng-scope">
            <thead>
            <tr>
                <th>Poster</th>
                <th ng-click="model.sortType='artist'; model.sortReverse = !model.sortReverse">
                    <span ng-show="model.sortType == 'artist'">
                            <span ng-show="!model.sortReverse" class="glyphicon glyphicon-triangle-top"
                                  aria-hidden="true"></span>
                            <span ng-show="model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span></span>
                    Artist Name</th>
            </tr>
            </thead>
            <tbody>
            <!-- <tr ng-repeat="artists in data.results.artistmatches.artist" class="ng-scope">-->
            <tr ng-repeat="artist in model.artist | orderBy:model.sortType:model.sortReverse" class="ng-scope">
                <td>
                    <img class="media-object" ng-src="{{artist.image.medium}}" alt="No Image!">
                </td>
                <td>
                    <a href="#/artist/details/{{artist.mbid}}">{{artist.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--  Tracks -->
    <div ng-show="model.track">
        <h2>Tracks</h2>
        <table class="table table-responsive table-striped table-hover ng-scope">
            <thead>
            <tr>
                <th>Poster</th>
                <th ng-click="model.sortType='track'; model.sortReverse = !model.sortReverse">
                    <span ng-show="model.sortType == 'track'">
                            <span ng-show="!model.sortReverse" class="glyphicon glyphicon-triangle-top"
                                  aria-hidden="true"></span>
                            <span ng-show="model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span></span>
                    Track Name</th>
                <th ng-click="model.sortType='artist'; model.sortReverse = !model.sortReverse">
                    <span ng-show="model.sortType == 'artist'">
                            <span ng-show="!model.sortReverse" class="glyphicon glyphicon-triangle-top"
                                  aria-hidden="true"></span>
                            <span ng-show="model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span></span>
                    Artist Name</th>
            </tr>
            </thead>
            <tbody>
            <!-- <tr ng-repeat="artists in data.results.artistmatches.artist" class="ng-scope">-->
            <tr ng-repeat="track in model.track | orderBy:model.sortType:model.sortReverse" class="ng-scope">
                <td>
                    <img class="media-object" ng-src="{{track.image.medium}}" alt="No Image!">
                </td>
                <td>
                    <a href="#/track/details/{{track.mbid}}">{{track.name}}</a>
                </td>
                <td>
                    <a href="#/search/{{track.mbid}}">{{track.artist}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--  Albums -->
    <div ng-show="model.album">
        <h2>Albums</h2>
        <table class="table table-responsive table-striped table-hover ng-scope">
            <thead>
            <tr>
                <th>Poster</th>
                <th ng-click="model.sortType='album'; model.sortReverse = !model.sortReverse">
                    <span ng-show="model.sortType == 'album'">
                            <span ng-show="!model.sortReverse" class="glyphicon glyphicon-triangle-top"
                                  aria-hidden="true"></span>
                            <span ng-show="model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span></span>
                    Track Name</th>
                <th ng-click="model.sortType='artist'; model.sortReverse = !model.sortReverse">
                    <span ng-show="model.sortType == 'artist'">
                            <span ng-show="!model.sortReverse" class="glyphicon glyphicon-triangle-top"
                                  aria-hidden="true"></span>
                            <span ng-show="model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span></span>
                    Artist Name</th>
            </tr>
            </thead>
            <tbody>
            <!-- <tr ng-repeat="artists in data.results.artistmatches.artist" class="ng-scope">-->
            <tr ng-repeat="album in model.album | orderBy:model.sortType:model.sortReverse" class="ng-scope">
                <td>
                    <img class="media-object" ng-src="{{album.image.medium}}" alt="No Image!">
                </td>
                <td>
                    <a href="#/album/details/{{album.mbid}}">{{album.name}}</a>
                </td>
                <td>
                    <a href="#/search/{{album.artist}}">{{album.artist}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>