<!-- This file displays the Header of the dashboard -->

<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController as model">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target=".navbar-main-collapse"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home"> <span class="glyphicon glyphicon-music"></span> Prismatic Music</a>
        </div>

        <!-- Displays Register and Login when no user if logged in.
            Displays the Username and Logout when some user is logged in.-->

        <div id="navbar" class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="https://docs.google.com/document/d/1yR4FKBg1WxTPJKaEz8K0LxTHvty7N3FH78vj9XiLFnc/edit?usp=sharing"
                       data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="glyphicon glyphicon-list"></span> Documentation</a>
                </li>

                <li ng-show="currentUser" ng-class="active">
                    <a href="#/profile"
                       data-toggle="collapse" data-target=".navbar-main-collapse">Hi {{currentUser.username}}!</a>
                </li>

                <li ng-class="{'active' : model.$location.url() =='/home'}">
                    <a href="#/home" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="glyphicon glyphicon-music"></span> Home
                        <span class="sr-only">(current)</span></a>
                </li>

                <li ng-show="currentUser"
                    ng-class="{'active' : model.$location.url().search('/profile') >= 0}">
                    <a href="#/profile" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="glyphicon glyphicon-home"></span> Profile</a>
                </li>

                <li ng-class="{'active' : model.$location.url() =='/search' }">
                    <a href="#/search" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="glyphicon glyphicon-search"></span> Search</a>
                </li>

                <li ng-show="currentUser.roles.indexOf('admin') >= 0"
                    ng-class="{'active' : model.$location.url() =='/admin'}">
                    <a href="#/admin" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="glyphicon glyphicon-lock"></span> Admin</a>
                </li>

                <li ng-hide="currentUser" ng-class="{'active':model.$location.url()== '/register'}">
                    <a href="#/register" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="glyphicon glyphicon-user"></span> Register</a>
                </li>

                <li ng-hide="currentUser" ng-class="{'active':model.$location.url()== '/login'}">
                    <a href="#/login" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>

                <li ng-show="currentUser">
                    <a href="#/home" ng-click="model.logout()" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>